body {
    font-family: sans-serif;
    background: #181818;
    color: #bbbbbb;
    padding: 50px;
}

h1 {
    font-size: 30px;
    margin-bottom: 30px;
}

h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

h2 span {
    color: orangered;
    font-size: 25px;
}

button {
    border: 0;
    outline: 0;
    margin: 20px 0;
    background-color: #bbbbbb;
    border-radius: 10px;
    font-size: 30px;
    color: #181818;
    padding: 20px 20px;
    font-weight: 600;
    cursor: pointer;
}
